{
  "presets": [
    "module:metro-react-native-babel-preset",
    "module:react-native-dotenv"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./"],
        "extensions": [".ios.js", ".android.js", ".js", ".json"],
        "alias": {
          "@root": "./",
          "@app": "./src",
          "@components": "./src/components",
          "@services": "./src/services",
          "@screens": "./src/screens"
        }
      }
    ]
  ]
}
